#containerPalitra {
	position: relative;
	height: 195px;
	width: 650px;
	border: 2px solid black;
}

li {
	font-size: 30px;
	font-style: bold;
	list-style: none;
}

span.blue, li.blue {
	color: blue;
	cursor: pointer;
}

span.green, li.green {
	color: green;
	cursor: pointer;
}

span.red, li.red {
	color: red;
	cursor: pointer;
}

#containerPalitra > div {
	display: inline-block;
	vertical-align: top;
	margin: 5px;
	height: 176px;
	width: 200px;
	border: 2px solid black;
}

div.blue {
	background-color: blue;
    height: 100%;
}

div.green {
	background-color: green;
	height: 100%;
}

div.red {
	background-color: red;
	height: 100%;
}

